.top {
    display: flex;
    gap: 40px;
    background-image: url(https://cdn.discordapp.com/attachments/788797904638181427/1282216871592071232/IMG_1058.jpg?ex=66de8d04&is=66dd3b84&hm=0077cecbd18c6c109b74bedfb77ff4b387360646605a5d616b493971ed866c1e&);
}
